.section-1 {
  position: relative;
  text-transform: uppercase;
  max-width: 1500px;
  max-height: 176.5rem;
  display: grid;
  grid-template-columns: 20% 1fr 27rem 20% 20% 1fr;
  grid-template-rows: repeat(4, 25rem) 21.5rem 25rem 30rem;
  .box-1 {
    background-image: url(../img/img-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-color: rgb(233, 234, 226);
    padding: 5rem 17rem;
    grid-row: 1 / span 2;
    grid-column: 1 / span 4;
    
  }
  .box-2 {
    background-color: rgb(122, 206, 195);
    grid-row: 1 / span 2;
    grid-column: 5 / span 2;
    position: relative;
    overflow: hidden;
    h5 {
      font-size: 1.3rem;
      line-height: 1.4rem;
      color: rgb(255, 255, 255);
      font-family: Roboto-Regular;
      text-align: left;
      &:first-of-type {
        position: absolute;
        top: 50%;
        left: 10%;
        width: 10rem;
        height: 7.4rem;
      }
      &:last-child {
        position: absolute;
        bottom: 15%;
        right: 40%;
        width: 13.6rem;
        height: 3.5rem;
      }
    }
  }
  .box-3 {
    position: relative;
    background-color: rgb(235, 178, 64);
    grid-row: 3 / span 2;
    grid-column: 1 / span 2;
    .spaned {
      transform: translate(0%, -50%);
      position: absolute;
      top: 50%;
      left: 30%;
      .arrow {
        position: absolute;
        top: -12%;
        left: -55%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 3rem;
        color: rgb(255, 255, 255);
      }
      h5 {
        font-family: Roboto-Regular;
        width: 7rem;
        height: 11rem;
        font-size: 1.3rem;
        line-height: 1.4rem;
        color: rgb(255, 255, 255);
        span {
          font-family: Roboto-Regular;
          font-size: 1.3rem;
          color: rgb(0, 0, 0);
        }
      }
    }
  }
  .box-4 {
    margin-left: 3rem;
    width: 100%;
    background-image: url("../img/img-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    grid-row: 3 / span 2;
    grid-column: 3 / span 2;
  }
  .box-5 {
    background-color: rgb(223, 224, 217);
    grid-row: 3 / span 1;
    grid-column: 5 / span 2;
    background-image: url("../img/img-3.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    background-position: right;
    .prj {
      margin: 9%;
      h5 {
        width: 15rem;
        &:first-of-type {
          height: 1.5rem;
        }
        &:nth-child(3) {
          text-transform: initial;
        }
      }
      h3 {
        margin: -2% 0 1% 0;
      }
    }
  }
  .box-6 {
    background-image: url("../img/img-4.png");
    background-position: center;
    background-size: cover;
    grid-row: 5 / span 2;
    grid-column: 1 / span 1;
    width: 100%;
    .prj {
      h2 {
        color: white;
      }
      h5 {
        width: 14.7rem;
        color: white;
      }
      h3 {
        color: white;
        margin: 4% 0 2% 0;
      }
      color: rgb(255, 255, 255);
      .heart {
        margin-left: 31%;
      }
    }
  }
  .box-7 {
    background-image: url("../img/img-5.png");
    width: 100%;
    padding: 13% 0 13% 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(234, 234, 234);
    grid-row: 5 / span 2;
    grid-column: 2 / span 3;
    .prj {
      display: flex;
      justify-content: space-between;
      max-width: 31rem;
      margin: auto;
      .hdr {
       
        h5 {
          width: 15rem;
        }
      }
      .view {
        margin: 0 0 2% 0;
        h3 {
          margin: 0;
        }
      }
    }
  }
  .box-8 {
    background-image: url("../img/img-6.png");
    // background-color: rgb(247, 247, 243);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    grid-row: 4 / span 2;
    grid-column: 5 / span 2;
    background-position: center -6rem;
    .prj {
      display: flex;
      justify-content: space-between;
      margin-top: 70%;
      margin-left: 6rem;
      h3 {
        margin-top: 0%;
      }
      .hdr {
       
        h5 {
          width: 20rem;
        }
      }
      .view {
        display: flex;
       
      }
      .heart {
        margin: -2% -2% 0 0;
      }
    }
  }
  .box-9 {
    background-image: url("../img/img-7.png");
    background-repeat: no-repeat;
    background-size: contain;
    grid-row: 6 / span 1;
    grid-column: 5 / span 2;
    width: 100%;
    .prj {
      margin: 10% 0% 0 65%;
      h5 {
        width: 15rem;
      }
      h3 {
        margin: 0% 0 3% 0;
      }
    }
  }
  .box-10 {
    background-image: url("../img/img-8.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center 3rem;
    grid-row: 7 / span 1;
    grid-column: 1 / span 3;
    width: 100%;
    .prj {
      display: flex;
      justify-content: space-between;
      margin: 29% 0 0 20%;
      h5 {
        width: 17rem;
      }
      h3 {
        margin: 0;
      }
      .view {
        display: flex;
        margin-right: 23%;
       
      }
      .heart {
        margin: -2% -2% 0 0;
      }
      
    }
  }
  .box-11 {
    position: relative;
    grid-row: 7 / span 1;
    grid-column: 4 / span 1;
    // background-image: url("../img/img-9.png");
    // background-size: cover;
    // background-position: left;
    // background-color: rgb(206, 206, 206);
    background-repeat: no-repeat;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      z-index: -10;
      top: 0;
      left: -42%;
    }
    .prj {
      margin: 27% 48%;
      h5 {
        width: 13rem;
      }
      h3 {
        margin-left: -4rem;
      }
      .heart {
        margin-left: 4rem;

      }
    }
  }
  .box-12 {
    background-color: rgb(235, 178, 64);
    grid-row: 7 / span 1;
    grid-column: 5 / span 7;
    position: relative;
    overflow: hidden;
    padding: 13% 20%;
    h5 {
      font-size: 1.4rem;
      line-height: 1.4rem;
      color: #333333;
      font-family: Roboto-Regular;
      margin-bottom: 1rem;
    }
    ul li {
      font-size: 1.3rem;
      line-height: 1.4rem;
      color: #ffffff;
      font-family: Roboto-Regular;
    }
    .line {
      z-index: 1;
      left: -18.3rem;
      top: -3%;
    }
    span {
      position: absolute;
      top: 24%;
      left: 11%;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 3rem;
      color: rgb(255, 255, 255);
    }
  }

}